# Виртуальное окружение
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Временные файлы
*.tmp

# Директории для загруженных и обработанных файлов
uploads/
clips/

# Файлы IDE
.vscode/
.idea/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы конфигурации
*.env

# Директория с моделями (если они большие, их лучше не хранить в репозитории)
models/

# Другие специфичные для проекта файлы и директории
node_modules/
*.sqlite3
